<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Parameters.Add(Tuple.Create("double", "arg1"));	
	template.Parameters.Add(Tuple.Create("double", "arg2"));
	template.Render();
#>
