<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TSource");
	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("Func<TSource, TSource>", "fns", false));	
	template.Parameters.Add(Tuple.Create("Func<TSource, TSource>", "vs", false));
	template.Render();
#>
