<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TValue");
	template.Parameters.Add(Tuple.Create("int", "length"));	
	template.Parameters.Add(Tuple.Create("IList<TValue>", "list"));
	template.Render();
#>
