<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();
		
	template.Generics.Add("TTarget");
	template.Parameters.Add(Tuple.Create("TTarget", "spec", false));
	template.Render();
#>