<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();
		
	template.Generics.Add("TSource");
	template.Parameters.Add(Tuple.Create("Func<TSource, int>", "fn", true));
	template.Parameters.Add(Tuple.Create("TSource", "a", false));
	template.Parameters.Add(Tuple.Create("TSource", "b", false));
	template.Render();
#>