<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TSource");
	template.Parameters.Add(Tuple.Create("Func<TSource, bool>", "f", true));	
	template.Parameters.Add(Tuple.Create("Func<TSource, bool>", "g", true));	
	template.Render();
#>
