<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.SkippedIndexedGaps.Add(1);

	template.Generics.Add("TTarget");
	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("Delegate", "fn", true));	
	template.Parameters.Add(Tuple.Create("TTarget", "list", false));
	template.Render();
#>
