<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("double", "minimum"));	
	template.Parameters.Add(Tuple.Create("double", "maximum"));
	template.Parameters.Add(Tuple.Create("double", "value"));
	template.Render();
#>
