<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("double", "minimum", false));	
	template.Parameters.Add(Tuple.Create("double", "maximum", false));
	template.Parameters.Add(Tuple.Create("double", "value", false));
	template.Render();
#>
