<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Parameters.Add(Tuple.Create("int", "minimum", false));	
	template.Parameters.Add(Tuple.Create("int", "maximum", false));
	template.Parameters.Add(Tuple.Create("int", "value", false));
	template.Render();
#>
