<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();
		
	template.Generics.Add("TArg1");
	template.Generics.Add("TArg2");
	template.Generics.Add("TArg3");
	template.Generics.Add("TTarget");
	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("Func<TArg1, TArg2, TArg3, TTarget>", "fn", false));	
	template.Render();
#>