<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TArg1");
	template.Generics.Add("TArg2");
	template.Parameters.Add(Tuple.Create("TArg1", "a", false));	
	template.Parameters.Add(Tuple.Create("TArg2", "b", false));	
	template.Render();
#>