<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();
		
	template.Generics.Add("TArg");
	template.Parameters.Add(Tuple.Create("Func<TArg, TArg>", "f", true));
	template.Parameters.Add(Tuple.Create("TArg", "x", false));
	template.Parameters.Add(Tuple.Create("TArg", "y", false));
	template.Render();
#>