<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TValue");
	template.AllGapsFunctionAlreadyExists = true;
	template.InvocationExpression = "Currying.FromPairs(pairs.Select(pair => new object[] { pair.Key, pair.Value }).ToArray());";
	template.Parameters.Add(Tuple.Create("IEnumerable<KeyValuePair<string, TValue>>", "pairs", false));	
	template.Render();
#>
