<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TTarget");
	template.Parameters.Add(Tuple.Create("TTarget", "a"));	
	template.Parameters.Add(Tuple.Create("TTarget", "b"));
	template.Render();
#>
