<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Parameters.Add(Tuple.Create("Delegate", "condition"));
	template.Parameters.Add(Tuple.Create("Delegate", "onTrue"));
	template.Parameters.Add(Tuple.Create("Delegate", "onFalse"));
	template.Render();
#>
