<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.EmitDynamicCombinations = true;
	template.Parameters.Add(Tuple.Create("Delegate", "condition", true));
	template.Parameters.Add(Tuple.Create("Delegate", "onTrue", true));
	template.Parameters.Add(Tuple.Create("Delegate", "onFalse", true));
	template.Render();
#>
