<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.SkippedDynamicIndexedParams.Add(0);
	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("Func<object, string>", "fn", true));	
	template.Parameters.Add(Tuple.Create("object", "array", false));	
	template.Render();
#>