<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Parameters.Add(Tuple.Create("string", "separator", false));	
	template.Parameters.Add(Tuple.Create("IList<string>", "xs", false));
	template.Render();
#>
