<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TSource");
	template.Generics.Add("TResult");
	template.Parameters.Add(Tuple.Create("IList<Func<TSource, TResult>>", "fns", false));	
	template.Render();
#>
