<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.SkippedIndexedGaps.Add(0);
	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("string", "rx", false));	
	template.Parameters.Add(Tuple.Create("string", "str", false));
	template.Render();
#>