<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Parameters.Add(Tuple.Create("int", "m", false));	
	template.Parameters.Add(Tuple.Create("uint", "p", false));
	template.Render();
#>