<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("DateTime", "a", false));	
	template.Parameters.Add(Tuple.Create("DateTime", "b", false));
	template.Render();
#>