<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Parameters.Add(Tuple.Create("Func<dynamic, dynamic>", "f"));	
	template.Parameters.Add(Tuple.Create("dynamic", "a"));	
	template.Parameters.Add(Tuple.Create("dynamic", "b"));
	template.Render();
#>