<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TTarget");
	template.Generics.Add("TElement");
	template.Parameters.Add(Tuple.Create("Func<Func<TTarget, Functor>, Func<TTarget, Functor>>", "lens", true));	
	template.Parameters.Add(Tuple.Create("Func<TElement, TElement>", "v", true));
	template.Parameters.Add(Tuple.Create("TTarget", "x", false));
	template.Render();
#>
