<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();
		
	template.Generics.Add("TSource");
	template.Generics.Add("TReturn");
	template.Parameters.Add(Tuple.Create("Func<TSource, TReturn>", "f", true));	
	template.Parameters.Add(Tuple.Create("IList<TSource>", "args", false));	
	template.Render();
#>