<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TArg1");
	template.Generics.Add("TArg2");
	template.Parameters.Add(Tuple.Create("TArg1", "d"));
	template.Parameters.Add(Tuple.Create("IList<string>", "p"));
	template.Parameters.Add(Tuple.Create("TArg2", "obj"));
	template.Render();
#>