<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("object", "el", false));	
	template.Parameters.Add(Tuple.Create("IList", "list", false));	
	template.Render();
#>