<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TArg");
	template.Generics.Add("TTarget");
	template.Parameters.Add(Tuple.Create("Func<TArg, bool>", "pred", true));
	template.Parameters.Add(Tuple.Create("dynamic", "name", false));
	template.Parameters.Add(Tuple.Create("TTarget", "obj", false));
	template.Render();
#>