<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TTarget");
	template.SkippedIndexedGaps.Add(0);
	template.AllGapsFunctionAlreadyExists = true;
	template.GenericConstraints = "TTarget : IList";
	template.Parameters.Add(Tuple.Create("int", "p", false));
	template.Parameters.Add(Tuple.Create("TTarget", "obj", false));
	template.Render();
#>