<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Parameters.Add(Tuple.Create("int", "from"));	
	template.Parameters.Add(Tuple.Create("int", "to"));
	template.Render();
#>