<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.SkippedIndexedGaps.Add(1);
	template.Generics.Add("TTraversable");
	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("Delegate", "of", true));	
	template.Parameters.Add(Tuple.Create("TTraversable", "traversable", false));
	template.Render();
#>