<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TSource");
	template.Generics.Add("TTarget");
	template.Parameters.Add(Tuple.Create("dynamic", "lens", true));	
	template.Parameters.Add(Tuple.Create("TSource", "v", false));	
	template.Parameters.Add(Tuple.Create("TTarget", "x", false));
	template.Render();
#>
