<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();
		
	template.Generics.Add("TArg");
	template.Parameters.Add(Tuple.Create("Func<TArg, TArg, int>", "pred"));
	template.Parameters.Add(Tuple.Create("IList<TArg>", "list"));
	template.Render();
#>