<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("string", "str", false));
	template.Parameters.Add(Tuple.Create("params char[]", "sep", false));
	template.Render();
#>