<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.SkippedIndexedGaps.Add(1);
	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("int", "n", false));	
	template.Parameters.Add(Tuple.Create("string", "list", false));
	template.Render();
#>
