<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Parameters.Add(Tuple.Create("Regex", "pattern", false));
	template.Parameters.Add(Tuple.Create("string", "str", false));
	template.Render();
#>