<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TSource");
	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("Delegate", "of", false));	
	template.Parameters.Add(Tuple.Create("Func<TSource, TSource>", "f", true));	
	template.Parameters.Add(Tuple.Create("IList<TSource>", "traversable", false));
	template.Render();
#>