<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();
		
	template.Parameters.Add(Tuple.Create("object", "list", false));
	template.AllGapsFunctionAlreadyExists = true;
	template.Render();
#>