<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TSource");
	template.SkippedIndexedGaps.Add(1);
	template.AllGapsFunctionAlreadyExists = true;
	template.Parameters.Add(Tuple.Create("Delegate", "fn", false));	
	template.Parameters.Add(Tuple.Create("IList<dynamic>", "transformers", false));
	template.Render();
#>
