<#@ template language="C#" debug="True" #>
<#@ output extension="cs" #>
<#@ include file="RamdaTemplate.tt" #>
<#
	var template = new RamdaTemplate();

	template.Generics.Add("TSource1");
	template.Generics.Add("TSource2");
	template.Parameters.Add(Tuple.Create("IList<TSource1>", "@as", false));	
	template.Parameters.Add(Tuple.Create("IList<TSource2>", "bs", false));	
	template.Render();
#>